{% extends 'progress_analyzer/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<h1>Привет, {{ user.profile.name }}! Вот твой ежедневный план:</h1>
<h1>--------------------------------------------------------------------</h1>
<h1>Рекомендуемое суточное потребление калорий: {{ cal }} ккал</h1>
<h1>Твой индекс массы тела равен {{ bmi }}</h1>

{% else %}
<h1>Привет, друг!</h1>
<h1>Чтобы пользоваться дневником питания, тебе нужно создать аккаунт.</h1>
<h1>Сделать это можно по кнопке "Зарегистрироваться" сверху.</h1>
<h1>Или нажми "Войти в аккаунт", если он у тебя уже есть.</h1>
<img src="/media/icons/happy_kitty.png" style="width: 256px; height: 256px; margin-top: 30px;">
{% endif %}
{% endblock content %}