{% extends 'progress_analyzer/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div style="display: flex; align-items: center;">
  <a class="nav-link" href="{% url 'add_meal'%}"><img src="/media/icons/morning_kitty.png" alt="Завтрак">Завтрак</a>
</div>
<div style="display: flex; align-items: center;">
  <a class="nav-link" href="{% url 'add_meal'%}"><img src="/media/icons/eating_kitty.png" alt="Обед" style="width: 64px; height: 64px; margin-right: 10px;">Обед</a>
</div>
<div style="display: flex; align-items: center;">
  <a class="nav-link" href="{% url 'add_meal'%}"><img src="/media/icons/beer_kitty.png" alt="Ужин" style="width: 64px; height: 64px; margin-right: 10px;">Ужин</a>
</div>
<div style="display: flex; align-items: center;">
  <a class="nav-link" href="{% url 'add_meal'%}"><img src="/media/icons/icecream_kitty.png" alt="Перекус" style="width: 64px; height: 64px; margin-right: 10px;">Перекус</a>
</div>
{% else %}
<h1>Войдите в аккаунт</h1>
{% endif %}
{% endblock content %}
