{% extends 'progress_analyzer/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div style="margin-top: 75px; text-align: center;">
        <div>
            <h1>Название: {{ name }}</h1>
            <h1>Ккал на 100г: {{ kcal_per_100g }}</h1>
            <h1>Углеводов на 100г: {{ carbs_per_100g }}</h1>
            <h1>Белка на 100г: {{ protein_per_100g }}</h1>
            <h1>Жиров на 100г: {{ fat_per_100g }}</h1>
            <form action="{% url 'add_ingredient' meal_type date code %}" method="get">
              <input
                type="search"
                name="grams"
                placeholder="Введите кол-во грамм"
                class="form-control"
              />
              <button type="submit">Добавить в приём пищи</button>
            </form>
            <a href="{% url 'add_to_favorites' code %}"><button type="button">Добавить в избранное</button></a>
        </div>
    </div>
</div>
{% else %}
<h1>Войдите в аккаунт</h1>
{% endif %}
{% endblock content %}