{% extends 'progress_analyzer/base.html' %}
{% block content %}
<div class="container">
    <div style="margin-top: 75px; text-align: center;">
        {% if username == user.username %}
        <div>
            <img src="{{ image }}" style="width: 150px; height: 150px;">
            <h3>Имя: {{ name }}</h3>
            <h3>Пол: {{ sex }}</h3>
            <h3>Дата рождения: {{ birth_date }}</h3>
            <h3>Вес: {{ weight_kg }} кг</h3>
            <h3>Рост: {{ height_cm }} см</h3>
            <h3>Уровень активности: {{ activity_level }}</h3>
            <h3>Цель: {{ goal }}</h3>
            <a href="{% url 'update_profile' user.profile.pk %}"><button type="button">Изменить личные данные</button></a>
            {% else %}
            <img src="/media/icons/space_kitty.png" alt="Страница не найдена" style="width: 512px; height: 512px;">
            <h1 style="font-size: 64px">Страница не найдена</h1>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
